[
  {lager, [
    {log_root, "./log"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "logger.log"},
                            {level, debug},
                            {size, 10485760},
                            {date, "$D0"},
                            {count, 5}]}
    ]},
    {crash_log_msg_size, 4096},
    {crash_log_size, 0},
    {crash_log_count, 0},
    {error_logger_redirect, true},
    {error_logger_hwm, 500},
    {async_threshold, 20},
    {async_threshold_window, 5}
  ]}
].
